controller_manager:
  ros__parameters:
    update_rate: 250  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    effort_controller:
      type: ombot_controller/EffortController

    gravity_cancel_controller:
      type: ombot_controller/GravityCancelController

    joint_impedance_controller:
      type: ombot_controller/JointImpedanceController

    mecanum_controller:
      type: mecanum_drive_controller/MecanumDriveController

    wheel_velocity_controller:
      type: velocity_controllers/JointGroupVelocityController

    resolved_rate_controller:
      type: ombot_controller/ResolvedRateController

    joint_excitation_controller:
      type: "ombot_controller/JointExcitationController"

    wb_resolved_rate_controller:
      type: ombot_controller/WholeBodyResolvedRateController

joint_state_broadcaster:
  ros__parameters: {}
      
effort_controller:
  ros__parameters:
    joints: [joint_1, joint_2, joint_3, joint_4, joint_5, joint_6]
    topic_name: effort_cmd
    fixed_effort: [0.0, 0.0, 0.0, 0.0, 0.0, 1.0]   # <-- Nm per joint

gravity_cancel_controller:
  ros__parameters:
    joints: [joint_1, joint_2, joint_3, joint_4, joint_5, joint_6]
    base_link: link_1
    tip_link: end_link
    gravity_xyz: [0.0, 0.0, -9.81]
    scale: 1.0
    alpha: 1.0        # <1.0 if you want a touch of smoothing

joint_impedance_controller:
  ros__parameters:
    joints: [joint_1, joint_2, joint_3, joint_4, joint_5, joint_6]
    Kp:     [30.0, 30.0, 20.0, 20.0, 10.0, 5.0]
    Kd:     [2.0, 2.0, 1.5,  1.0,  0.6, 0.3]
    # effort_limits: [120,120,100,40,25,20]
    use_gravity: true
    gravity_xyz: [0.0, 0.0, -9.81]
    base_link: link_1
    tip_link:  end_link
    vel_lpf_alpha: 0.6   # 0.6 ~ noticeable filtering; 1.0 disables

# resolved_rate_controller:
#   ros__parameters:
#     joints: [joint_1, joint_2, joint_3, joint_4, joint_5, joint_6]
#     base_link: link_1
#     tip_link: end_link
#     inner_controller: "joint_impedance_controller"
#     lambda: 0.02
#     qdot_limit: 2.5
#     # null_kp: 5.0
#     null_kp: [3.0, 3.0, 2.0, 1.0, 0.5, 0.3]
#     null_kd: [0.8, 0.8, 0.6, 0.4, 0.25, 0.2]
#     step_limit: 0.015
#     dt_ceiling: 0.02
#     # q_home: [0.0,-0.7854,0.4,0.0,0.4,0.0]   # or your preferred posture
#     q_home: [0.0,-0.66,0.4,0.5,0.35,0.0]   # or your preferred posture

resolved_rate_controller:
  ros__parameters:
    joints: [joint_1, joint_2, joint_3, joint_4, joint_5, joint_6]
    null_kp: [3.0, 3.0, 2.0, 1.0, 0.5, 0.3]
    null_kd: [0.8, 0.8, 0.6, 0.4, 0.25, 0.2]
    q_home:  [0.0, -0.66, 0.4, 0.0, 0.30, 0.0]
    base_link: link_1
    tip_link:  end_link
    inner_controller: "joint_impedance_controller"
    lambda: 0.03
    qdot_limit: 2.0
    step_limit: 0.2
    dt_ceiling: 0.1
    v_min: 0.018
    err_deadband: 0.01
    tau_lpf: 0.08
    tau_rebase: 0.5
    cmd_timeout: 0.25
    v_deadband: 0.0001

wb_resolved_rate_controller:
  ros__parameters:
    joints: [joint_1, joint_2, joint_3, joint_4, joint_5, joint_6]
    # null_kp: [3.0, 3.0, 2.0, 1.0, 0.5, 0.3]
    # null_kd: [0.8, 0.8, 0.6, 0.4, 0.25, 0.2]
    null_kp: [15.0, 15.0, 10.0, 5.0, 2.5, 1.5]
    null_kd: [4.0, 4.0, 3.0, 2.0, 1.25, 1.0]
    q_home:  [0.0, -0.66, 0.4, 0.0, 0.30, 0.0]
    base_link: link_1
    tip_link:  end_link
    inner_controller: "joint_impedance_controller"
    lambda: 0.03
    qdot_limit: 2.0
    step_limit: 0.2
    dt_ceiling: 0.1
    v_min: 0.018
    err_deadband: 0.01
    tau_lpf: 0.08
    tau_rebase: 0.5
    cmd_timeout: 0.25
    v_deadband: 0.0001


mecanum_controller:
  ros__parameters:
    front_left_wheel_command_joint_name:  front_left_wheel_joint
    front_right_wheel_command_joint_name: front_right_wheel_joint
    rear_left_wheel_command_joint_name:   rear_left_wheel_joint
    rear_right_wheel_command_joint_name:  rear_right_wheel_joint
    wheel_separation_x: 0.40
    wheel_separation_y: 0.30
    base_frame_id: base_link
    odom_frame_id: odom
    enable_odom_tf: true
    publish_rate: 50.0
    # cmd_vel_timeout: 0.25
    reference_timeout: 0.25
    joints: [front_left_wheel_joint, front_right_wheel_joint, rear_left_wheel_joint, rear_right_wheel_joint]
    interface_name: velocity
    use_stamped_vel: true
    cmd_vel_topic: cmd_vel     

    kinematics:
      wheels_radius: 0.069
      # sum_of_robot_center_projection_on_X_Y_axis = Lx + Ly
      sum_of_robot_center_projection_on_X_Y_axis: 0.37



wheel_velocity_controller:
  ros__parameters:
    joints: [front_left_wheel_joint, front_right_wheel_joint, rear_left_wheel_joint, rear_right_wheel_joint]
    interface_name: velocity


arm_base_coordinator:
  ros__parameters:
    kp_lin: 3.0
    kp_ang: 2.0
    kd_lin: 0.3
    kd_ang: 0.25

    base_lin_limit: 0.6
    base_ang_limit: 1.2

    vel_lpf_alpha: 0.9
    slew_base: 4.0

    k_d: 3.0
    d_mid: 1.8

joint_excitation_controller:
  ros__parameters:
    joints: [joint_1, joint_2, joint_3, joint_4, joint_5, joint_6]
    amplitudes:    [0.0, 0.0, 0.0, 0.0, 0.0, 0.5]
    effort_limits: [0.0, 0.0, 0.0, 0.0, 0.0, 0.8]
    mode: "prbs"              # "prbs", "sine", or "chirp"
    prbs_dwell: 0.05          # 50 ms per bit
    sine_freq: 0.5            # Hz (if you use sine mode)
    chirp_f_start: 0.1        # Hz (if you use chirp mode)
    chirp_f_end: 5.0          # Hz
    test_duration: 60.0       # s; 0 => run until you stop controller

