<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ombot_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
    
      <hardware>
        <plugin>ros2_control_demo_example_7/OMBotHardware</plugin>
        <param name="port">/dev/ttyUSB0</param>
        <param name="baudrate">1000000</param>
        <param name="default_mode">effort</param>
        <param name="simulate">false</param>
      </hardware>

      <!-- J1 -->
      <joint name="joint_1">
        <command_interface name="position">
          <param name="min">${-pi}</param>
          <param name="max">${pi}</param>
        </command_interface>
        <!-- <command_interface name="velocity">
          <param name="min">${-3.05}</param>
          <param name="max">${3.05}</param>
        </command_interface> -->
        <command_interface name="effort"/>

        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- J2 -->
      <joint name="joint_2">
        <command_interface name="position">
          <param name="min">${-pi/2}</param>
          <param name="max">${pi/2}</param>
        </command_interface>
        <!-- <command_interface name="velocity">
          <param name="min">${-3.05}</param>
          <param name="max">${3.05}</param>
        </command_interface> -->
        <command_interface name="effort"/>

        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- J3 -->
      <joint name="joint_3">
        <command_interface name="position">
          <param name="min">${-pi/2}</param>
          <param name="max">${3*pi/4}</param>
        </command_interface>
        <!-- <command_interface name="velocity">
          <param name="min">${-3.05}</param>
          <param name="max">${3.05}</param>
        </command_interface> -->
        <command_interface name="effort"/>

        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- J4 -->
      <joint name="joint_4">
        <command_interface name="position">
          <param name="min">${-pi}</param>
          <param name="max">${pi}</param>
        </command_interface>
        <!-- <command_interface name="velocity">
          <param name="min">${-3.05}</param>
          <param name="max">${3.05}</param>
        </command_interface> -->
        <command_interface name="effort"/>

        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- J5 -->
      <joint name="joint_5">
        <command_interface name="position">
          <param name="min">${-pi/2}</param>
          <param name="max">${pi/2}</param>
        </command_interface>
        <!-- <command_interface name="velocity">
          <param name="min">${-3.05}</param>
          <param name="max">${3.05}</param>
        </command_interface> -->
        <command_interface name="effort"/>

        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

      </joint>

      <!-- J6 -->
      <joint name="joint_6">
        <command_interface name="position">
          <param name="min">${-pi}</param>
          <param name="max">${pi}</param>
        </command_interface>
        <!-- <command_interface name="velocity">
          <param name="min">${-3.05}</param>
          <param name="max">${3.05}</param>
        </command_interface> -->
        <command_interface name="effort"/>

        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

      </joint>

      <!-- Example TCP F/T sensor state block (optional) -->
      <sensor name="tcp_fts_sensor">
        <state_interface name="force.x"/>
        <state_interface name="force.y"/>
        <state_interface name="force.z"/>
        <state_interface name="torque.x"/>
        <state_interface name="torque.y"/>
        <state_interface name="torque.z"/>
      </sensor>

      <sensor name="tcp_fts_sensor">
        <state_interface name="force.x"/>
        <state_interface name="force.y"/>
        <state_interface name="force.z"/>
        <state_interface name="torque.x"/>
        <state_interface name="torque.y"/>
        <state_interface name="torque.z"/>
      </sensor>

    </ros2_control>

  </xacro:macro>

</robot>
